{% extends 'base.html.twig' %}

{% block body %}
    <div class="dash">

        <div class="container dashBoardContain">
            <h1>Tableau de bord</h1>
            <hr>
            <h2>Chantiers</h2>
            <div class="row justify-content-between ">
                {% for chantier in chantiers %}
                <div class="mb-3 col-4">
                    <div class="carte">
                        <div class="card-body">
                            <h5 class="card-title">{{ chantier.nom }}</h5>
                            <p class="card-text">{{ chantier.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item "><span class="d-block font-weight-bold">Localisation</span>{{ chantier.localisation }}</li>
                        </ul>
                        <div class="card-body">
                                <a href="{{ path('consult_chantier', {'id': chantier.id} ) }}" class="card-link">
                                    <button type="button" class="btn btn-light text-white nav-item nav-link consult">
                                        Consulter le chantier
                                    </button>
                                </a>

                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
                </thead>
                <tbody>
                {% for prestataire in prestataires %}
                <tr>
                    <th scope="row">{{ prestataire.id }}</th>
                    <td>{{ prestataire.nom }}</td>
                    <td>{{ prestataire.email }}</td>
                    <td>{{ prestataire.telephone }}o</td>
                    <td>{{ prestataire.taches }}o</td>
                </tr>
                {% endfor %}
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
{% endblock body %}