{% extends 'base.html.twig' %}



{% block body %}
    <div class="container">
        <h1>{{ chantier.nom }}</h1>
        <p>{{ chantier.description }}</p>
        <p>{{ chantier.localisation }}</p>
        <h2>Phases du chantier</h2>
        <div class="row">
            {% for phase in phases %}
                {% set urlEditPhase = ea_url()
                    .setController('App\\Controller\\Admin\\PhaseCrudController')
                    .setAction('edit')
                    .setEntityId(phase.id) %}

                <div class="col-4">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item "><span class=" title_attr font-weight-bold">Nom : </span>{{ phase.nom }}</li>
                        <li class="list-group-item "><span class=" title_attr font-weight-bold">Description : </span>{{ phase.description }}</li>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" class="voirTaches btn btn-primary" data-toggle="modal" data-target="#exampleModalLong_{{loop.index}}">
                                Tâches en cours
                            </button>
                            <button type="button" class="voirTachesCours btn btn-primary" data-toggle="modal" data-target="#exampleModalLong_{{loop.index}}">
                                Tâches terminées
                            </button>
                        </div>

                        <div class="btn-group" role="group" aria-label="Basic example">


                        </div>

                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button type="button" onclick="" class="validTask btn btn-primary" data-toggle="modal" data-target="#exampleModalLong_{{loop.index}}">
                                Phase terminée
                            </button>
                        </div>



                        <!-- Modal -->
                        <div class="modal fade" id="exampleModalLong_{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Tâches dans {{ phase.nom }}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {% for tache in phase.getTaches() %}
                                            {% if phase.getTaches() != null %}
                                                <p><span class="font-weight-bold">Nom : </span>{{ tache.nom }}</p>
                                                <p><span class="font-weight-bold">Date de début : </span>{{ tache.dateDebut | date('d/m/Y') }}</p>
                                                <p><span class="font-weight-bold">Durée : </span>{{ tache.duree }}</p>
                                                <p><span class="font-weight-bold">Statut : </span>Terminé</p>
                                                {% if tache.getPrestataire() != null %}
                                                    <p><span class="font-weight-bold">Prestataire assigné : </span>{{ tache.getPrestataire().nom }}</p>
                                                {% endif %}
                                                <hr>
                                            {% else %}
                                                <p>Pas de tâches dans la phase {{ phase.nom }} pour le moment. Pour plus d'informations, contactez le conducteur de travaux assigné</p>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="closeModal btn btn-secondary" data-dismiss="modal">Fermer</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock body %}