{% extends 'base.html.twig' %}

{% set urlCreaChantier = ea_url()
    .setController('App\\Controller\\Admin\\ChantierCrudController')
    .setAction('new') %}

{% block body %}
    <div class="dash">
        <div class="container dashBoardContain">
            <h1>Tableau de bord : Maitre d'ouvrage</h1>
            <hr>
            {% if chantiers == null %}
                <h2>Vous n'avez pas de chantier</h2>
            {% else %}
                <h2>Chantiers</h2>
                <a class="text-decoration-none" href="{{ urlCreaChantier }}">
                    <button type="button" class="btn btn-light text-white nav-item nav-link consult">
                    Commander un chantier
                </button>
                </a>
                <br>
                <div class="row justify-content-between ">
                    {% for chantier in chantiers %}
                    <div class="mb-3 col-4">
                        <div class="carte">
                            <div class="card-body">
                                <h5 class="card-title">{{ chantier.nom }}</h5>
                                <p class="card-text">{{ chantier.description }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item "><span class="d-block font-weight-bold">Localisation</span>{{ chantier.localisation }}</li>
                            </ul>
                            <div class="card-body">
                                    <a href="{{ path('maitreouvrage_consult_chantier', {'id': chantier.id} ) }}" class="card-link">
                                        <button type="button" class="btn btn-light text-white nav-item nav-link consult">
                                            Consulter le chantier
                                        </button>
                                    </a>

                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock body %}                