{% extends 'base.html.twig' %}





{% block body %}
    {{ include('@EasyAdmin/crud/includes/_delete_form.html.twig', with_context = false) }}

    <button class="btn-retour btn btn-primary" type="button" onclick="history.go(-1)">< Retour</button>

    <div class="container mb-5">
        <h1>{{ chantier.nom }}</h1>
        <p><span class="title_attr font-weight-bold">Description : </span>{{ chantier.description }}</p>
        <p><span class="title_attr font-weight-bold">Localisation : </span>{{ chantier.localisation }}</p>

        <div class="phases-chantier">
            <h2>Phases du chantier</h2>
            <div class="row">
{#                <div  style="margin-bottom: 3%" class="col-12 input-group">#}
{#                    <div class="form-outline">#}
{#                        <input id="search-input" type="search" class="form-control" placeholder="Rechercher une phase..." />#}
{#                    </div>#}
{#                    <button id="search-button" type="button" class="srch btn btn-primary">#}
{#                        <i class="fa fa-search"></i>#}
{#                    </button>#}
{#                </div>#}

                {% for phase in phases %}

                    <div class="col-4" >
                        <ul class="list-group list-group-flush" >
                            <li class="list-group-item "><span class=" title_attr font-weight-bold">Nom : </span>{{ phase.nom }}</li>
                            <li class="descri list-group-item "><span class="  title_attr font-weight-bold">Description : </span>{{ phase.description }}</li>
                            <li class="list-group-item">
                                <a class="text-decoration-none" href={{ ea_url()
                                    .setController('App\\Controller\\Admin\\PhaseCrudController')
                                    .setAction('edit')
                                    .setEntityId(phase.id) }}>
                                    <button class="edit btn btn-warning">
                                        <i style="font-size: 30px; color: white" class="fa fa-edit"></i>
                                    </button>
                                </a>

                                <a class="text-decoration-none action-delete text-danger px-1 " data-entityId="{{ phase.id }}">
                                    <button class="delete btn btn-danger" >
                                        <i style="font-size: 30px; color: white" class="fa fa-trash"></i>
                                    </button>
                                </a>
                            </li>

                            <button type="button" onclick="showTaches" class="voirTaches btn btn-primary" data-toggle="modal" data-target="#exampleModalLong_{{loop.index}}">
                                Voir les tâches
                            </button>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModalLong_{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title font-weight-bold" id="exampleModalLongTitle">Tâches dans {{ phase.nom }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            {% for tache in phase.getTaches() %}
                                                <p><span class="title_attr font-weight-bold">Nom : </span>{{ tache.nom }}</p>
                                                <p><span class="title_attr font-weight-bold">Date de début : </span>{{ tache.dateDebut | date('d/m/Y') }}</p>
                                                <p><span class="title_attr font-weight-bold">Durée : </span>{{ tache.duree }}</p>
                                                {% if tache.getPrestataire() != null %}
                                                    <p><span class="title_attr font-weight-bold">Prestataire assigné : </span>{{ tache.getPrestataire().nom }}</p>
                                                {% endif %}
                                                <a class="text-decoration-none" href={{ ea_url()
                                                    .setController('App\\Controller\\Admin\\TacheCrudController')
                                                    .setAction('edit')
                                                    .setEntityId(tache.id) }}>
                                                    <button class="edit btn btn-warning">
                                                        <i style="font-size: 30px; color: white" class="fa fa-edit"></i>
                                                    </button>
                                                </a>
                                                <a class="text-decoration-none" href={{ ea_url()
                                                    .setController('App\\Controller\\Admin\\TacheCrudController')
                                                    .setAction('delete')
                                                    .setEntityId(tache.id) }}>
                                                    <button class="delete btn btn-danger">
                                                        <i style="font-size: 30px; color: white" class="fa fa-trash"></i>
                                                    </button>
                                                </a>
                                                <hr>
                                            {% endfor %}
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="closeModal btn btn-secondary" data-dismiss="modal">Fermer</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                {% endfor %}
            </div>
        </div>

    </div>
    <script type="text/javascript">
        window.onload = function() {
            $('.action-delete').on('click', function(e) {
                e.preventDefault();
                //const id = $(this).parents('[data-id]').first().data('id'); => Replaced by the following line
                const id = $(this).attr('data-entityId');

                $('#modal-delete').modal({ backdrop: true, keyboard: true })
                    .off('click', '#modal-delete-button')
                    .on('click', '#modal-delete-button', function () {
                        let deleteForm = $('#delete-form');
                        deleteForm.attr('action', deleteForm.attr('action').replace('__entityId_placeholder__', id));
                        deleteForm.trigger('submit');
                    });
            });

            const searchButton = document.getElementById('search-button');
            const searchInput = document.getElementById('search-input');
            searchButton.addEventListener('click', () => {
                const inputValue = searchInput.value;
                if(inputValue) {
                    window.location.href = `/${inputValue}`;
                }
            });

            searchInput.addEventListener("keyup", ({key}) => {
                if (key === "Enter") {
                    const inputValue = searchInput.value;
                    if(inputValue) {
                        window.location.href = `/${inputValue}`;
                    }
                }
            })
        }
    </script>
{% endblock body %}