{% extends 'base.html.twig' %}

{% block title %}Tableau de bord CDT{% endblock %}

{% block body %}

    <div class="dash">

        <div class="container dashBoardContain">
            <div class="input-group">
                <div class="form-outline">
                    <input type="search" id="form1" class="form-control" />
                    <label class="form-label" for="form1">Search</label>
                </div>
                <a href="{{ path('searchbychantier') }}">
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </a>

            </div>
            <h1>Tableau de bord</h1>
            <hr>
            <h2>Chantiers</h2>
            <div class="row justify-content-between ">
                {% for chantier in chantiers %}
                <div class="mb-3 col-4">
                    <div style="min-height: 500px" class="carte">
                        <div class="card-body">
                            <h5 class="card-title">{{ chantier.nom }}</h5>
                            <p style="min-height: 220px" class="card-text">{{ chantier.description }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li style="min-height: 100px" class="list-group-item "><span class="d-block font-weight-bold">Localisation</span>{{ chantier.localisation }}</li>
                        </ul>
                        <div class="card-body">
                                <a href="{{ path('consult_chantier', {'id': chantier.id} ) }}" class="card-link">
                                    <button type="button" class="btn btn-light text-white nav-item nav-link consult">
                                        Consulter le chantier
                                    </button>
                                </a>

                        </div>

                    </div>
                </div>
                {% endfor %}

            </div>
            <div class="presta">
                <h2>Prestataires</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Nom</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Téléphone</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for prestataire in prestataires %}
                    <tr>
                        <th scope="row"></th>
                        <td>{{ prestataire.nom }}</td>
                        <td>{{ prestataire.email }}</td>
                        <td>{{ prestataire.telephone }}</td>
                        <td>
                            <a href="{{ path('consult_prestataire', {'id': prestataire.id} ) }}" class="card-link">
                                <i style="font-size:30px;color: #8a916f" class="fa fa-info-circle"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock body %}