{% set urlCreaChantier = ea_url()
    .setController('App\\Controller\\Admin\\ChantierCrudController')
    .setAction('new') %}

{% set urlCreaPhase = ea_url()
    .setController('App\\Controller\\Admin\\PhaseCrudController')
    .setAction('new') %}

{% set urlCreaTache = ea_url()
    .setController('App\\Controller\\Admin\\TacheCrudController')
    .setAction('new') %}



<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/e88ad86e43.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}

        {% endblock %}
    </head>
    <body>
        {% block header %}
            <header class="CDT">
                <nav class="navbar navbar-expand-lg navbar-dark">
                    <a class="navbar-brand" href="{{ path('home') }}">
                        <img src="{{ asset('assets/img/logoBTPwhite.png') }}" alt="Logo">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div class="navbar-nav">
                            {% if is_granted("ROLE_MAITREOUVRAGE") %}
                                <a class="nav-item nav-link text-white" href="{{ path('dashboard_maitreouvrage') }}">Votre tableau de bord<span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link text-white" href="">Vos chantiers</a>
                            {% endif %}
                            {% if is_granted("ROLE_PRESTATAIRE>") %}
                                <a class="nav-item nav-link text-white" href="{{ path('dashboard_prestataire') }}">Votre tableau de bord<span class="sr-only">(current)</span></a>
                            {% endif %}
                            {% if is_granted("ROLE_CONDUCTEURTRAVAUX") %}
                                <a class="nav-item nav-link text-white" href="{{ path('dashboard_conducteur') }}">Votre tableau de bord<span class="sr-only">(current)</span></a>
                                <a class="nav-item nav-link text-white" href="{{ urlCreaPhase }}">Créer une phase</a>
                                <a class="nav-item nav-link text-white" href="{{ urlCreaTache }}">Créer une tâche</a>

                            {% endif %}
                            {% if app.user %}
                                <a class="text-decoration-none" href="{{ path('app_logout') }}">
                                    <button type="button" class="btn btn-light text-white nav-item nav-link logout">Déconnexion</button>
                                </a>
                            {% else %}
                                <a class="text-decoration-none" href="{{ path('app_register') }}">
                                    <button type="button" class="btn btn-light text-white nav-item nav-link signUp2">Inscription</button>
                                </a>
                                <a class="text-decoration-none" href="{{ path('app_login') }}">
                                    <button type="button" class="btn btn-light text-white nav-item nav-link signIn">Connexion</button>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </nav>
            </header>
        {% endblock header %}

        {% block body %}
        {% endblock %}
    </body>
</html>
