{% extends 'base.html.twig' %}

{% block body %}
<div class="container PrestataireContain">
<h1>Tableau de bord : Prestataire</h1>
<hr>
    <div class="d-flex justify-content-left row">
        <div class="col-md-12">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg font-weight-bold text-warning"><i class="fa fa-calendar"></i> Tâches planifiées</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    {% for tachePlan in tachesPlan  %}
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left flex2">
                                                            <div class="widget-heading">{{ tachePlan.nom }}</div>
                                                            <div class="widget-subheading"><span class="title_attr font-weight-bold">Durée prévue : </span>{{ tachePlan.duree}} jours</div>
                                                        </div>
                                                        <div class="widget-content-right font-weight-bold">{{ tachePlan.dateDebut | date('d/m/Y')}}</div>
                                                    </div>
                                                </div>
                                            </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg font-weight-bold text-primary"><i class="fa fa-spinner"></i> Tâches en cours</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    {% for tacheCours in tachesCours %}
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left flex2">
                                                            <div class="widget-heading">{{ tacheCours.nom }}</div>
                                                            <div class="widget-subheading">{{ tacheCours.dateDebut | date('d/m/Y')}}</div>
                                                        </div>
                                                        <div  style="max-width: 150px" class="widget-content-right">
                                                                <a href="{{ path('validate_task', {'id': tacheCours.id}) }}">
                                                                    <button type="button" class="validTask btn btn-success">Terminée</button>
                                                                </a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                    {% endfor %}

                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card-hover-shadow-2x mb-3 card">
                <div class="card-header-tab card-header">
                    <div class="card-header-title font-size-lg text-capitalize font-weight-bold text-success"><i class="fa fa-check-square"></i> Tâches terminées</div>
                </div>
                <div class="scroll-area-sm">
                    <perfect-scrollbar class="ps-show-limits">
                        <div style="position: static;" class="ps ps--active-y">
                            <div class="ps-content">
                                <ul class=" list-group list-group-flush">
                                    {% for tacheTerm in tachesTerm %}
                                            <li class="list-group-item">
                                                <div class="widget-content p-0">
                                                    <div class="widget-content-wrapper">
                                                        <div class="widget-content-left flex2">
                                                            <div class="widget-heading">{{ tacheTerm.nom }}</div>
{#                                                            <div class="widget-subheading">By Ayoub</div>#}
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </perfect-scrollbar>
                </div>
            </div>
        </div>

    </div>    
</div>
{% endblock body %}